<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- For writing to external Downloads via MediaStore no legacy storage permission required on Android 11+ -->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/logo"
        android:roundIcon="@mipmap/logo"
        android:theme="@style/Theme.BiometricAttendance">
        
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.ClassFormActivity" />
        <activity android:name=".ui.ClassDetailActivity" />
        <activity android:name=".ui.StudentFormActivity" />
        <activity android:name=".ui.StudentDetailActivity" />
    </application>
</manifest>
